* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --white: white;
  --black: hsla(0, 0%, 0%, 1);
  --back-botton: hsla(226, 60%, 42%, 0.9);
  --text: rgb(70, 3, 3);
  --openSans: 'Open Sans', sans-serif;
  --italliano: 'Italianno', cursive;
  --roboto: 'Roboto', sans-serif;
  font-size: 10px;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(assets/cilindro\ barbearia.jpg) no-repeat center/cover;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

header {
  padding: 1rem 0 0 0;
  width: 90%;
}

.logo {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 15rem;
}

.logo a {
  color: var(--black);
}

.studio {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: end;
  text-align: center;
  line-height: 1.2;
}
.studio .studioName {
  display: flex;
  align-items: center;
  font-family: var(--italliano);
  font-size: 2.8rem;
}

.studio .studioName img {
  width: 1.7rem;
  margin: 0;
  padding: 0;
}

.studio .phoneNumber {
  font-family: var(--openSans);
  font-size: 1.5rem;
}

main {
  /* width: 90%; */
  height: 65vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: var(--openSans);
  font-weight: 700;
  color: var(--text);
  font-size: 1.8rem;
  text-align: center;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.button {
  display: flex;
  width: 25rem;
  height: 5rem;
  background-color: var(--back-botton);
  box-shadow: 0 0 2px 2px #4565a5bc;

  color: var(--white);
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}

.button.whats {
  background-color: #2db742; 
  box-shadow: 0 0 2px 2px #6ed466bc;
}

.button img {
  padding: 0.5rem;
}

footer {
  color: var(--black);
  height: 10vh;
  width: 90%;
  display: flex;
  font-family: var(--roboto);
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  text-align: center;
  text-shadow: 3px 3px 2px rgba(3, 3, 3, 0.356);
}
